body {
  margin: 40px;
}

.name {
  font-size: 45px;
}

.course {
  font-size: 24px;
}

.netid {
  font-size: 16px;
}

.profilePic {
  margin-left: 550px;
}

.profilePic img {
  height: 240px;
}

.bio {
  font-size: 20px;
  margin-top: -188px;
  margin-bottom: 43px;
  width: 350px;
}

.resume {
  font-size: 18px;
}
